
header{
    background-color: white;
    position:fixed;
    z-index: 100;
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 75px;


}

header .container nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
}



header .container ul{
    display: flex;
}
header .container .pages{
    padding-right: 120px;
}

header .container .pages li{
    padding-left: 60px;
    font-size: 20px;
    font-weight: 400;

}

header .container .pages li a{
    color: #000000;
}
header .container .pages li a:hover{
    color: #235B94;
}

header .container .giris-options li{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 6px;
}

header .container .giris-options li:last-of-type{
    margin-left: 25px;
        background-color: #235B94;

}
header .container .giris-options li:last-of-type a{
    color: white;
}

header .container .giris-options li:first-of-type{
    color: #235B94;
    background-color: #D9D9D9;
}

header .container .giris-options li:first-of-type a{
    color: #235B94;
}

header .line{
    box-Shadow: 0px 4px 4px rgba(91, 91, 91, 0.25);
    outline: 1px rgba(176, 176, 176, 0.55) solid;
    outline-Offset: -0.50px;
    width: 100%;
    height: 0.5px;
    background-color: #b4b4b4;
}